{% extends "base.html" %}

{% block title %}Detect Location{% endblock %}

{% block content %}
<section class="auth-wrapper">
 <div class="auth-card glass" style="max-width:560px;">
    <h2 class="auth-title">Detect Location</h2>
    <p class="auth-sub">Quickly detect your current city or type to search.</p>
    <p>{{ data.main }}</p>
    <p>{{ data.country_code }}</p>
    <p>{{ data.country_name }}</p>
    <p>{{ data.region_code }}</p>
    <p>{{ data.region_name }}</p>
    <p>{{ data.latitude }}</p>
    <p>{{ data.longitude }}</p>
 </div>
</section>
{% endblock %}